.main {
    height: 100vh;
    background-color: $DarkCyan;

    display:flex;

    &-circleTop {
        position: absolute;
        height: 15.75rem;
        width: 13.125rem;
        background-image: url('../../images/bg-pattern-top.svg');
        background-size: 224%;
        background-repeat: no-repeat;
        background-position: 101% bottom;
        opacity: 0.5
    }

    &-card {
        background-color: white;
        height: 23.475rem;
        width: 20.5rem;
        z-index: 1;
        margin: 9.125rem 1.5rem auto 1.5rem;
    }

   
}