.main {
    height: 100vh;
    background-color: $DarkCyan;

    display:flex;

    &-circleTop {
        position: absolute;
        height: 15.75rem;
        width: 13.125rem;
        background-image: url('../../images/bg-pattern-top.svg');
        background-size: 224%;
        background-repeat: no-repeat;
        background-position: 101% bottom;
        opacity: 0.5;

        @include breakpoint-up('medium'){
            height: 33rem;
            width: 43.5rem;
            background-size: 160%;
        }
    }


    &-circleBot {
        position: absolute;
        height: 18.25rem;
        width: 13.4375rem;
        bottom: 0;
        right: 0;
        background-image: url('../../images/bg-pattern-bottom.svg');
        background-size: 250%;
        background-repeat: no-repeat;
        background-position: left top;
        opacity: 0.5;

        @include breakpoint-up('medium'){
            height: 21.625rem;
            width: 45.4375rem;
            background-size: 140%;
            
        }
    }
}



.card {
    background-color: white;
    height: 23.475rem;
    width: 20.5rem;
    z-index: 1;
    margin: 9.125rem 1.5rem auto 1.5rem;
    border-radius: 1.125rem;
    box-shadow: 1px 3px 40px grey;

    @include breakpoint-up('medium'){
        height: 23.6875rem;
        width: 22.0625rem;
        margin: 10.75rem auto;
    }

    &-header {

        .banner {
            height: 8.875rem;
            width: 100%;
            background-image: url('../../images/bg-pattern-card.svg');
            border-top-left-radius: 1.125rem;
            border-top-right-radius: 1.125rem;
        }

        .avatar {
           height: 6.8125rem;
           width: 6.8125rem;
           margin: -3.4375rem auto 1.625rem auto;
           background-image: url('../../images/image-victor.jpg');
           background-repeat: no-repeat;
           background-size: cover;
           border-radius: 3.125rem;
           border: 7px solid white;

        }


        .info {
            margin: 1.625rem auto;
            text-align: center;
            border-bottom: thin solid $DarkGray;

            p:first-of-type {
                color: $VeryDarkBlue;
                font-size: 0.9375rem;
                font-weight: $font-bold;

                @include breakpoint-up(large){
                    font-size: 1rem;
                }

                span {
                    color: $DarkGray;
                    font-weight: $font-reg;
                }
            }

            p:last-of-type {
                color: $DarkGray;
                font-size: 0.75rem;

            }


        }

    }



    &-stats {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 1.625rem auto;
        
        div > * {
            margin: 0;
            text-align: center;
        }

        div > p:first-of-type {
            font-size: 0.9375rem;
            font-weight: $font-bold;
            color: $VeryDarkBlue;

            @include breakpoint-up('medium'){
                font-size: 1rem;
            }
        }

        div > p:last-of-type {
            font-size: .625rem;
            color: $DarkGray;

        }


    }
}