$DarkCyan: hsl(185, 75%, 39%);
$VeryDarkBlue: hsl(229, 23%, 23%);
$DarkGrayishBlue: hsl(227, 10%, 46%);

$DarkGray: hsl(0, 0%, 59%);

$font: 'Kumbh Sans', sans-serif;

$font-reg: 400;
$font-bold: 700;